{% extends 'layout.html' %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}
<div class="container wrapper flex-grow-1">
    <h1 class="my-4">{% trans "Edit status" %}</h1>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% block form_buttons %}
            {% trans "Update" as update_text %}
            {% bootstrap_button update_text button_type="submit" button_class="btn-primary" %}
        {% endblock %}
    </form>
</div>
{% endblock %}
