{% extends "layout.html" %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}
<section class="card bg-dark border-light shadow-sm">
  <div class="card-body">
    <h1 class="h3 mb-4 text-white">{% trans "Delete user" %}</h1>
    <form action="{% url 'user_delete' user.pk %}" method="post" class="text-white">
      {% csrf_token %}
      <p class="text-white-50">
        {% blocktrans with username=user.get_full_name %}Are you sure you want to delete {{ username }}?{% endblocktrans %}
      </p>
      <div class="d-flex justify-content-end">
        <input class="btn btn-danger" type="submit" value="{% trans 'Yes, delete' %}">
      </div>
    </form>
  </div>
</section>
{% endblock %}
