{% extends "layout.html" %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}
<section class="card bg-dark border-light shadow-sm">
  <div class="card-body">
    <h1 class="h3 mb-4 text-white">{% trans "Update user" %}</h1>
    <form action="{% url 'user_update' user.pk %}" method="post" class="text-white">
      {% csrf_token %}
      {% bootstrap_form form %}
      <div class="d-flex justify-content-end mt-4">
        <input class="btn btn-light" type="submit" value="{% trans 'Update' %}">
      </div>
    </form>
  </div>
</section>
{% endblock %}
