{% extends 'layout.html' %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}
<section class="card bg-dark border-light shadow-sm">
  <div class="card-body">
    <h1 class="h3 mb-4 text-white">{% trans "Edit label" %}</h1>
    <form method="post" class="text-white">
      {% csrf_token %}
      {% bootstrap_form form %}
      <div class="d-flex justify-content-end mt-4">
        <button type="submit" class="btn btn-light">{% trans "Update" %}</button>
      </div>
    </form>
  </div>
</section>
{% endblock %}
